// Global colors 
$color-black: #000000;
$color-white: #FFFFFF;

// Project Colors
$color-wild-sand: #F4F4F4;
$color-temptress: #2B0100;
$color-limeade: #3B9A00;
$color-silver-chalice: #AFAFAF;
$color-green-leaf: #51850E;
$color-alto: #DEDEDE;
$color-silver: #C6C6C6;
$color-black-gradient: #00000021;
$color-black-opacity: #0000003b;
$color-green-shadow: #51850e01;
$color-white-gradient: #ffffff01;
$color-white-brighter-gradient: #ffffff3d;
$color-white-bright-gradient: #ffffff69;