body {
  background-image: url('../assets/images/background-img.png');
  background-repeat: no-repeat;
  max-width: 100%;
  margin: 0 auto;
  font-family: $font-titillium;
  
  @include media('>=md') {
    background-size: cover;
  }
  
  @include media('<md') {
    background-size: cover;
  }
}

.container {
  display: flex;

  @include media('>lg') {
    justify-content: center;
  }

  @include media('<md') {
    display: block;
  }

  &-column {
    width: 43%;
    padding: 0 40px;
    
    @include media('>=md') {
      max-width: 720px;
    }

    @include media('<md') {
      width: 96%;
      padding: 0 5px 0 5px;
      margin: 0 auto;
    }
  }
}
