body {
  background-image: url('../assets/images/background-img.png');
  background-repeat: no-repeat;
  max-width: 100%;
  margin: 0 auto;
  font-family: $font-titillium;
  
  @include media('>=md') {
    background-size: cover;
  }
  
  @include media('<md') {
    background-size: auto;
  }
}

.container {
  display: flex;

  &-column {
    width: 43%;
    max-width: 720px;
    padding: 0 40px;

    @include media('<md') {
      width: 100%;
      padding: 0 5px;
    }
  }
}

