h2 {
  font-size: 32px;
  color: $color-white;
  line-height: 1.2;
  text-shadow: 0px 2px 2px $color-temptress;
  text-align: left;
  // position: absolute;
  font-weight: 700;
  // margin: 15px 169px;
}

