.page-form__content {
  padding: 21px;

  &-input,
  &-select,
  &-checkbox-label {
    width: 100%;
    margin: 0;
    border: 0;
    color: $color-silver-chalice;

    @include media('<lg') {
      font-size: 12px;
    }
    
      &::placeholder {
        color: $color-silver-chalice;
        opacity: 1;
    }
  }

  &-select,
  &-input,
  &-message-textarea {
    &:focus {
      outline: none;
    }
  }

  &-wrapper {
    padding: 8px 0;
    margin-bottom: 17px;
    border: 1px solid $color-silver;
    border-radius: 3px;
    box-shadow: 0 2px 0 0 $color-white,inset 0 0 0 1px $color-white;
    display: flex;
  }

  &-message {
    border: 1px solid $color-silver;
    border-radius: 3px;
    box-shadow: 0 2px 0 0 $color-white,inset 0 0 0 1px $color-white;
    padding: 10px 16px 10px 16px;
    margin-bottom: 17px;

    &-textarea {
      border: none;
      background-color: $color-wild-sand;
      resize: none;
      line-height: 1.2;
      font-size: 16px;
      color: $color-silver-chalice;
      width: 100%;

      @include media('<lg') {
        font-size: 12px;
      }
    }
  }

  &-checkbox-submit-buttons {
    display: flex;
    margin-bottom: 10px;

    @include media('<lg') {
      display: block;
      margin-bottom: 0;
    }
  }

  &-submit-buttons {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;

    @include media('<lg') {
      display: block;
      margin-bottom: 0;
    }
  }

  &-icon {
    border-right: 1px solid $color-alto;
    padding-right: 20px;
    margin: 0 18px 0 19px;

    @include media('<lg') {
      width: 17px;
      height: 17px;
      padding-right: 17px;
      margin: 0 17px 0 18px;
    }
     
    &--location {
      padding-right: 27px;
      margin: 0 15px 0 22px;
    }
  }

  &-input {
    background-color: $color-wild-sand;
    padding-right: 20px;
  }

  &-wrapper {
    position: relative;
  }

  &-select {
    background-color: $color-wild-sand;
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    &-arrow {
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      display: block;
      position: absolute;
      right: 15px;
      top: 17px;
      pointer-events: none;
      width: 0; 
      height: 0; 

      border-top: 10px solid $color-silver-chalice;

      @include media('<md') {
        top: 14px;
      }
    }
  }
}
