.page-form__content-submit {
  &--sign-in-form {
    width: 100%;
  }

  &--recover-form-send,
  &--subscribe-form-subscribe {
    width: 40%;

    @include media('<lg') {
      width: 100%;
      padding: 0;
      margin-bottom: 15px;
    }
  }

  &--recover-form-done,
  &--subscribe-form-red {
    width: 40%;

    @include media('<lg') {
      width: 100%;
      padding: 0;
    }
  }
  
  &-button {
    font-size: 24px;
    color: $color-white;
    line-height: 1.2;
    text-shadow: 0.559px 0.829px 0 $color-green-shadow;
    background-color: $color-limeade;
    border-radius: 3px;
    border: 1px solid $color-limeade;
    box-shadow: 0 1px 0 0 $color-white-gradient,inset 0 1px 1px 0 $color-white-bright-gradient;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    transition:  background-color 0.2s;
    outline: none;

    &--sign-in-form {
      width: 40%;
    }

    &:hover {
      background-color: $color-green-leaf-darker;
    }
    
    &--recover-form-button,
    &--subscribe-form-button {
      font-size: 18px;

      &-disabled {
        font-size: 18px;
        background-color: $color-mantis;
        border-color: $color-mantis;
        cursor: unset;
        
        &:hover {
          background-color: $color-mantis;
        }
      }
    }

    &--subscribe-form-button-red {
      font-size: 18px;
      border: 1px solid $color-mexican-red;
      background-color: $color-mexican-red;

      &:hover {
        background-color: $color-tamarillo;
      }
    }
  }
}
