.page-form  {
  &--register-form {
    margin-top: 15px;
  }

  &--send-email-form {
    margin: 30px 0 47px 0;
  }

  &--sign-in-form {
    margin-top: 16px;

    @include media('<md') {
      margin-bottom: 25px;
    }
  }

  &--recover-form {
    margin: 22px 0 20px 0;
  }

  &--subscribe-form {
    margin: 38px 0 30px 0;
  }

  &__heading {
    text-align: center;
    margin: 0 0 19px;

    &--subscribe-form {
      margin: 0 0 10px;
    }
  }

  &__background {
    background: $color-black-opacity;
    border-radius: 5px;
    padding: 19px;

    &--subscribe-form {
      margin-bottom: 68px;
    }
  }
  
  &__form {
    border-radius: 3px;
    background-color: $color-wild-sand;
    box-shadow: 0 0 8.6px 1.4px $color-black-gradient;
  }
}