.header-logo {
  text-align: center;
  opacity: 0.2;
  margin: 54px 80px;
}



// Responsiveness

@include media('<sm') {
  .header-logo {
    margin: 0;
  }
  .header-logo img {
    margin: 30px;
  }
}